DemoManagedIdentity/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Get_Secret": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{concat('https://demomikv.vault.azure.net/secrets/', triggerOutputs()['relativePathParameters']['secretName'])}",
                "queries": {
                  "api-version": "2016-10-01"
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://vault.azure.net"
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "outputs"
                  ]
                }
              }
            },
            "Add_log": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://demomisa.queue.core.windows.net/log/messages?visibilitytimeout=30&timeout=30",
                "headers": {
                  "x-ms-version": "2019-12-12",
                  "x-ms-date": "@{formatDateTime(utcNow(), 'R')}"
                },
                "body": "<QueueMessage>  \n<MessageText>@{body('Get_Secret')}</MessageText>  \n</QueueMessage>  ",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://storage.azure.com"
                }
              },
              "runAfter": {
                "Get_Secret": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "@body('Get_Secret')"
              },
              "runAfter": {
                "Add_log": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "GET",
                "relativePath": "/secrets/{secretName}"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}